
.edit-dialog {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  margin-left: -40vw;
  margin-top: -40vh;
  overflow: scroll;
  background-color: #FFF;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: opacity 200ms, visibility 400ms;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms;
  }
}

.edit-dialog-backdrop {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms, z-index 400ms;

  &.active {
    opacity: 1;
    z-index: 10;
    transition: opacity 300ms;
  }
}

.edit-mask-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: $color-700;
  color: $primary-color;
}

.btn-action {
  border: none;
  color: #FFF;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.btn-action-cancel .fa {
  font-size: 1.5rem;
}

.edit-mask {
  height: 100%;

  fieldset {
    padding: 1rem;
    margin: 0 0 1rem;
    border: none;
  }

  label,
  legend {
    display: block;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.38);
    font-size: 0.9rem;
  }

  input,
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid grey;
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;

    &:focus {
      border-bottom: 2px solid $color-600;
      outline: none;
    }

  }

  textarea {
    height: 7rem;
  }

  .field-date {
    width: 12rem;
  }

  .edit-priority {
    position: relative;
    width: 2rem;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  .edit-priority:hover + label,
  .edit-priority:checked + label {
    background: url('data:image/svg+xml;utf8,<svg fill="#1976D2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 2v11h3v9l7-12h-4l4-8z"/></svg>') repeat-x top right;
    background-size: 2rem 2rem;
  }

  .edit-priority-label {
    position: absolute;
    left: 1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('data:image/svg+xml;utf8,<svg fill="#1976D2" fill-opacity="0.2" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 2v11h3v9l7-12h-4l4-8z"/></svg>') no-repeat top right;
    background-size: 2rem 2rem;
    line-height: 2rem;

    span {
      opacity: 0;
    }
  }

  .epl-1 {
    z-index: 10;
  }

  .epl-2 {
    padding-left: 2rem;
    z-index: 9;
  }

  .epl-3 {
    padding-left: 4rem;
    z-index: 8;
  }

  .epl-4 {
    padding-left: 6rem;
    z-index: 7;
  }

  .epl-5 {
    padding-left: 8rem;
    z-index: 6;
  }
}

.btn-quick-date {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: $color-800;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.edit-mask-delete-button {
  padding: 1rem;
  font-size: 1.5rem;
  color: $default-font-color;

  &:hover {
    opacity: 0.6;
  }
}
