
.app-header,
.app-toolbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: $color-700;
  color: $primary-color;
}

.app-header__title {
  display: block;
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: normal;
}

.main-nav {
  display: block;
  margin: 1rem 0;
}

.main-nav__button {
  margin-left: 3rem;
  font-size: 1.5rem;
  line-height: 1;
}

.app-toolbar {
  padding: 0 1.5rem;
  background-color: $color-500;
}

.app-toolbar__sorter,
.app-toolbar__filter {
  li a {
    display: block;
    padding: 1.125rem 0.5rem 1rem 0.5rem;
    margin: 0 2rem 0 -0.5rem;
    font-size: 1rem;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0.125rem solid transparent;

    &:hover,
    &.active {
      color: #FFF;
      border-bottom: 0.125rem solid #FFF;
    }
  }
}

.app-toolbar__sorter {
  li a {
    position: relative;
  }

  .fa {
    position: absolute;
    right: -0.25rem;
    top: 35%;
  }
}

.app-toolbar__filter {
  li a {
    margin: 0 -0.5rem 0 0;
  }
}

@media all and (max-width: 640px) {
  .app-toolbar {
    padding: 0 0.5rem;
    flex-direction: column;

  }
  .app-toolbar__sorter {
    li a {
      margin-right: 0.667rem;
      padding: 1rem 0.5rem;
      letter-spacing: -1px;
    }
  }
}
