
//material design indigo color palette
//@see https://www.google.com/design/spec/style/color.html#color-color-palette
$color-50: #E3F2FD;
$color-100: #BBDEFB;
$color-200: #90CAF9;
$color-300: #64B5F6;
$color-400: #42A5F5;
$color-500: #2196F3;
$color-600: #1E88E5;
$color-700: #1976D2;
$color-800: #1565C0;
$color-900: #0D47A1;
$color-A100: #82B1FF;
$color-A200: #448AFF;
$color-A400: #2979FF;
$color-A700: #2962FF;

