// bower:scss
// endbower
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Roboto);

$font-stack:    Roboto, sans-serif;
$background-color: $color-200;
$primary-color: #FFF;

body, .note-content {
  background: $background-color;
  font-family: Roboto, sans-serif;
  color: $primary-color;
  margin: 10px;

  &.style-change {
    background: darken($background-color, 10%);
    color: lighten($primary-color, 10%)
  }
}

a {
  background-color: transparent;
  color: $primary-color;
}

.title-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.25em;
  background-color: $color-700;
  color: $primary-color;
}

.toolbar--menu {
  position: relative;
  float: left;
}

.toolbar--btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  height: 42px;
  width: 42px;
  border-radius: 50% !important;
  overflow: hidden;
}

.note--check {
  position: relative;
  float: left;
}

.note--btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
  height: 42px;
  width: 42px;
  border-radius: 50% !important;
  overflow: hidden;
}

.menu-title {
  display: block;
  float: left;
  line-height: 42px;
  font-family: sans-serif;
  margin-left: 15px;
  white-space: nowrap;
}

.filter-dialog {
  display: flex;
  width: 75%;
  visibility: hidden;;
  opacity: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
  background-color: $color-400;
  color: $primary-color;

  &.filter-dialog-open {
    visibility: visible;
    opacity: 1;
  }
}

button {
  background: none transparent;
  border: 0 none;
  color: inherit;
}

.note-item {

  padding: 20px;
}

@import 'edit-dialog';

