// bower:scss
// endbower


@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Roboto);


body {
  background: $color-500;
  font-family: Roboto, sans-serif;
  color: #000;
  margin: 10px;
}

.background--blur {
  background: $color-900;
}

.title-header {
  background-color: #4878A1;
  color: white;
  padding: 10px 20px;
  overflow: hidden;
}

.toolbar--menu {
  position: relative;
  float: left;
}
.toolbar--btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
  height: 42px;
  width: 42px;
  border-radius: 50% !important;
  overflow: hidden;
}

.note--check {
  position: relative;
  float: left;
}
.note--btn {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
  height: 42px;
  width: 42px;
  border-radius: 50% !important;
  overflow: hidden;
}

.menu-title{
  display: block;
  float: left;
  line-height: 42px;
  font-family: sans-serif;
  margin-left: 15px;
  font-size: 1.25em;
  white-space: nowrap;
}

button {
  background: none transparent;
  border: 0 none;
  color: inherit;
}

.note-item {

  padding: 20px;
}

.example-toolbar--search, .toolbar--new {
  float: right;
}

@import 'edit-dialog';

